@page
@model Practica_III.Pages.CalculadoraPrestamoModel
@{

}

<body>
    <div>

        <h1>Calculadora de Prestamo </h1>

        <form method="post">
            <label for="nombre"> Capital Prestamo:</label>
            <input type="number" name="Capital" value="" size="10" id="nombre"><br>

            <label for="nombre"> Cantidad de Cuotas:</label>
            <input typr="number" name="CantidadCuota" value="" id="nombre"><br>

            <label for="nombre">Interes Anual:</label>
            <input type="number" name="Interes" value="" id="nombre"><br>

            <input type="submit" value="Calcular Cuota" />


        </form>

        <h1>Tabla Amortizacion </h1>
        <tbody>
        <table border="1">
            <thead>
            
            
                <tr>
                    <th>Numero de Cuota</th>
                    <th>Capital</th>
                    <th>Cuota Mensula</th>
                    <th>Interes Prestamo</th>
                </tr>

            </thead>

            
                @foreach (var item in Model.AmortizacionPrest)
                {
                    <tr>
                        <td>@item.NumeroCuota</td>
                        <td>@item.CapitalPrestamo</td>
                        <td>@item.MontoCuota</td>
                        <td>@item.InteresPrestamo</td>
                    </tr>
                }
                

                
            </tbody>
        </table>

    </div>

</body>