@page
@model Practica_III.Pages.CalculadoraPrestamoModel
@{
}

 <body>
    <div>

        <h1>Calculadora de Prestamo</h1>

         <form method="get">
              <label for="nombre">Monto Prestamo:</label>
              <input type="number" name="Monto" value="" size="10" id="nombre" ><br>

              <label for="nombre"> Cantidad de Cuotas:</label>
              <input typr="number" name="CantidadCuota" value="" id="nombre"><br>

              <label for="nombre">Porcentaje:</label>
              <input type="number" name="Porcentaje" value="" id="nombre"><br>

             <input type="submit" value="Calcular Prestamo"/>


         </form>

    </div>

 </body>